[project]
	description = Rights inherited by all other projects
[access "refs/*"]
	read = group Anonymous Users
	pushTag = group Project Bootstrappers
	forgeAuthor = group Registered Users
	forgeCommitter = group Project Bootstrappers
	push = +force group Project Bootstrappers
	create = group Project Bootstrappers
	create = group Release Managers
	pushMerge = group Project Bootstrappers
	pushSignedTag = group Continuous Integration Tools
	pushSignedTag = group Project Bootstrappers
	pushSignedTag = group Release Managers
	viewDrafts = group Project Bootstrappers
	deleteDrafts = group Project Bootstrappers
	publishDrafts = group Project Bootstrappers
	editTopicName = group Registered Users
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group Project Bootstrappers
	label-Code-Review = -1..+1 group Registered Users
	label-Verified = -2..+2 group Continuous Integration Tools
	label-Verified = -2..+2 group Project Bootstrappers
	label-Workflow = -1..+1 group Project Bootstrappers
	label-Workflow = -1..+0 group Change Owner
	submit = group Continuous Integration Tools
	submit = group Project Bootstrappers
	rebase = group Registered Users
[access "refs/meta/config"]
	read = group Project Owners
[access "refs/for/refs/*"]
	push = group Registered Users
	pushMerge = group Change Proposing Tools
[access "refs/meta/openstack/*"]
	read = group Continuous Integration Tools
	create = group Continuous Integration Tools
	push = group Continuous Integration Tools
[capability]
	administrateServer = group Administrators
	priority = batch group Non-Interactive Users
	createProject = group Project Bootstrappers
	streamEvents = group Registered Users
	runAs = group Project Bootstrappers
	accessDatabase = group Administrators
	emailReviewers = deny group Third-Party CI
[access "refs/zuul/*"]
	create = group Continuous Integration Tools
	push = +force group Continuous Integration Tools
	pushMerge = group Continuous Integration Tools
[access "refs/for/refs/zuul/*"]
	pushMerge = group Continuous Integration Tools
[label "Verified"]
	function = MaxWithBlock
	value = -2 Fails
	value = -1 Doesn't seem to work
	value =  0 No score
	value = +1 Works for me
	value = +2 Verified
	defaultValue = 0
[label "Code-Review"]
	function = MaxWithBlock
	abbreviation = R
	copyMinScore = true
	copyAllScoresOnTrivialRebase = true
	value = -2 Do not merge
	value = -1 This patch needs further work before it can be merged
	value =  0 No score
	value = +1 Looks good to me, but someone else must approve
	value = +2 Looks good to me (core reviewer)
	defaultValue = 0
[label "Workflow"]
	function = MaxWithBlock
	value = -1 Work in progress
	value =  0 Ready for reviews
	value = +1 Approved
	defaultValue = 0
[access "refs/drafts/*"]
	push = block group Registered Users
[access "refs/heads/proposed/*"]
	exclusiveGroupPermissions = abandon label-Code-Review label-Workflow
	owner = group Release Managers
	abandon = group Change Owner
	abandon = group Project Bootstrappers
	abandon = group Release Managers
	label-Code-Review = -2..+2 group Project Bootstrappers
	label-Code-Review = -2..+2 group Release Managers
	label-Code-Review = -1..+1 group Registered Users
	label-Workflow = -1..+1 group Project Bootstrappers
	label-Workflow = -1..+1 group Release Managers
	label-Workflow = -1..+0 group Change Owner
